<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title id = "titolopagina">{{sensore.name}}</title>
    <!-- base:css -->
    <link rel="stylesheet" href="/static/vendors/typicons.font/font/typicons.css">
    <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
    <!-- endinject --> 
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/static/images/Logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
     <style>
      .custom-swal-container {
        z-index: 9999;
    }

    .custom-swal-popup {
        background: #f7f7f7;
        border-radius: 15px;
    }

    .custom-swal-title {
        color: #333;
        font-size: 24px;
    }

    .custom-datepicker {
        font-family: Arial, sans-serif;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        padding: 10px;
        background: #fff;
    }

    .custom-datepicker .ui-datepicker-header {
        background: #4CAF50;
        color: white;
        border: none;
        border-radius: 8px 8px 0 0;
    }

    .custom-datepicker .ui-datepicker-calendar thead th {
        color: #4CAF50;
    }

    .custom-datepicker .ui-state-default {
        background: #f0f0f0;
        border: none;
        color: #333;
        border-radius: 50%;
    }

    .custom-datepicker .ui-state-active,
    .custom-datepicker .ui-state-hover {
        background: #4CAF50;
        color: white;
    }

    .custom-datepicker .ui-datepicker-prev,
    .custom-datepicker .ui-datepicker-next {
        background: none;
        border: none;
        color: white;
    }

    .custom-datepicker .ui-datepicker-prev:hover,
    .custom-datepicker .ui-datepicker-next:hover {
        background: rgba(255,255,255,0.2);
        border-radius: 50%;
    }
      
      .ui-datepicker {
        z-index: 1600 !important; /* Assicura che il datepicker sia visibile sopra SweetAlert */
      }

      .country-button {
        display: inline-block;
        margin: 5px;
        padding: 10px 20px;
        border: 1px solid #007BFF;
        border-radius: 5px;
        background-color: #f8f9fa;
        color: #007BFF;
        text-decoration: none;
        cursor: pointer;
    }
    .country-button:hover {
        background-color: #007BFF;
        color: white;
    }
  
    .nazione {
      text-align: center;
      max-width: 80%; /* Imposta la larghezza massima */
      overflow-y: auto; /* Abilita lo scrolling verticale */
      height: 50vh; /* Imposta l'altezza massima */
      padding: 20px;
      border-radius: 8px;
  }

      .sel{
        border: 1px solid $border;
        margin-bottom: 18px;
        color: #888;
        font-family: 'Lato', 'sans-serif';
        font-size: 16px;
        font-weight: 300;
        background-color: #fff;
      }
        .container {
          margin: 20px;
      }
      .input-group {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
      }
      .input-group label {
          margin-right: 10px;
      }
      .input-group input, .input-group select, .input-group button {
          margin-right: 10px;
          padding: 5px;
      }
      .card{
        border-radius: 3%;
      }

      #datiMeteo{
        width: 100%;
      }

      #datiUmidita{
        width: 100%;
      }

      #datiPressione{
        width: 100%;
      }

      #datiVento{
        width: 100%;
      }

      #datiUv{
        width: 100%;
      }

      #datiInquinamento{
        width: 100%;
      }

      #datiPrecipitazioni{
        width: 100%;
      }

      #map{
        border-radius: 3%;
          height: 850px;
          width: 100%;
          z-index: 1;
      }

      #mapTuttiIrrigatori{
        height: 400px;
        width: 100%;
        z-index: 1;
      }

      #mapAggiungiIrrigatore{
        height: 400px;
        width: 100%;
        z-index: 1;
      }

      #mapIrrigazione{
        height: 400px;
        width: 100%;
        z-index: 1;
    }

    #datiprova{
      width: 100%;
    }

    .larger-wheel {
      margin-top: 17rem;
      margin-bottom:17rem;
      width: 5rem; /* Adjust as desired */
      height: 5rem; /* Adjust as desired */
    }

    .fa-heart{
      color:red;
      font-size:40px;
    }

      .input-group {
        display: flex;
        flex-direction: column;
    }
    .input-group label {
        margin-bottom: 5px; /* Aggiunge spazio tra la label e l'input */
    }
    .raw {
      align-items: flex-start;
      justify-content: flex-start;
    }

  <!-- calendar style -->
  .form-container {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      width: 300px;
  }

  .input-group {
      margin-bottom: 15px;
      width: 100%;
  }

  label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color: #333;
  }

  input[type="date"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 16px;
      color: #333;
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-clear-button {
      display: none;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #7dba56;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn {
      background-color: #7dba56 !important;
      border-color: #7dba56;
      color: white;
      padding: 0.875rem 1.5rem;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      width: 100%;
      margin-top: 10px;
      border: none;
      border-radius: 4px;
      font-size: 16px;
  }

  .btn:hover {
      background-color: #6aa847 !important;
  }

  <!-- end calendar style -->



  <!-- query style -->
  .elegant-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 600;
  }
  
  .input-group select,
  .input-group input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  .input-group select:focus,
  .input-group input[type="number"]:focus {
    outline: none;
    border-color: #4CAF50;
  }
  
  .input-group button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .input-group button:hover {
    background-color: #45a049;
  }

  .elimina {
      background-color: red !important;
      border-color: red;
      color: white;
      padding: 0.875rem 1.5rem;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      width: 100%;
      margin-top: 10px;
      border: none;
      border-radius: 4px;
      font-size: 16px;
  }
    
  <!-- end query style -->


  

  </style>
  </head>
  <body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="brand-logo-mini" href="listaSensori"><img
                        src="/static/images/Logo.png" alt="logo"></a>
                <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button"
                    data-toggle="minimize">
                    <span class="typcn typcn-th-menu"></span>
                </button>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item  d-none d-lg-flex">
                        <a class="nav-link active">
                            <p id="nomsensore">Dettagli Sensore</p>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown  d-flex">
                        <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center"
                            id="notificationDropdown" data-toggle="dropdown">
                            <i class="typcn typcn-flag-outline mr-0"></i>
                            <!--contenuto dropdown notifiche-->
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list">
                          <p class="mb-0 sidebar-name float-left dropdown-header">Seleziona la nazione che vuoi visualizzare</p>
                          <div class="container nazione ">
                            <div>
                              <a href="listaSensori?nazione=italia"
                              class="country-button" onclick="toggleSelection(event)">Italia</a>
                              <a href="listaSensori?nazione=spagna"
                              class="country-button" onclick="toggleSelection(event)">Spagna</a>
                              <a href="listaSensori?nazione=albania"
                              class="country-button" onclick="toggleSelection(event)">Albania</a>
                              <a href="listaSensori?nazione=grecia"
                              class="country-button" onclick="toggleSelection(event)">Grecia</a>
                              <a href="listaSensori?nazione=malta"
                              class="country-button" onclick="toggleSelection(event)">Malta</a>
                              <a href="listaSensori?nazione=bulgaria"
                              class="country-button" onclick="toggleSelection(event)">Bulgaria</a>
                              <a href="listaSensori?nazione=turchia"
                              class="country-button" onclick="toggleSelection(event)">Turchia</a>
                              <a href="listaSensori?nazione=serbia"
                              class="country-button" onclick="toggleSelection(event)">Serbia</a>
                              <a href="listaSensori?nazione=bosniaederzegovina"
                              class="country-button" onclick="toggleSelection(event)">Bosnia ed Erzegovina</a>
                              <a href="listaSensori?nazione=croazia"
                              class="country-button" onclick="toggleSelection(event)">Croazia</a>
                              <a href="listaSensori?nazione=monaco"
                              class="country-button" onclick="toggleSelection(event)">Monaco</a>
                              <a href="listaSensori?nazione=romania"
                              class="country-button" onclick="toggleSelection(event)">Romania</a>
                              <a href="listaSensori?nazione=austria"
                              class="country-button" onclick="toggleSelection(event)">Austria</a>
                              <a href="listaSensori?nazione=svezia"
                              class="country-button" onclick="toggleSelection(event)">Svezia</a>
                              <a href="listaSensori?nazione=slovenia"
                              class="country-button" onclick="toggleSelection(event)">Slovenia</a>
                              <a href="listaSensori?nazione=polonia"
                              class="country-button" onclick="toggleSelection(event)">Polonia</a>
                              <a href="listaSensori?nazione=germania"
                              class="country-button" onclick="toggleSelection(event)">Germania</a>
                              <a href="listaSensori?nazione=finlandia"
                              class="country-button" onclick="toggleSelection(event)">Finlandia</a>
                              <a href="listaSensori?nazione=svizzera"
                              class="country-button" onclick="toggleSelection(event)">Svizzera</a>
                              <a href="listaSensori?nazione=irlanda"
                              class="country-button" onclick="toggleSelection(event)">Irlanda</a>
                              <a href="listaSensori?nazione=ungheria"
                              class="country-button" onclick="toggleSelection(event)">Ungheria</a>
                              <a href="listaSensori?nazione=belgio"
                              class="country-button" onclick="toggleSelection(event)">Belgio</a>
                              <a href="listaSensori?nazione=norvegia"
                              class="country-button" onclick="toggleSelection(event)">Norvegia</a>
                              <a href="listaSensori?nazione=lettonia"
                              class="country-button" onclick="toggleSelection(event)">Lettonia</a>
                              <a href="listaSensori?nazione=moldavia"
                              class="country-button" onclick="toggleSelection(event)">Moldavia</a>
                              <a href="listaSensori?nazione=liechtenstein"
                              class="country-button" onclick="toggleSelection(event)">Liechtenstein</a>
                              <a href="listaSensori?nazione=slovacchia"
                              class="country-button" onclick="toggleSelection(event)">Slovacchia</a>
                              <a href="listaSensori?nazione=cechi"
                              class="country-button" onclick="toggleSelection(event)">Cechia</a>
                              <a href="listaSensori?nazione=ucraina"
                              class="country-button" onclick="toggleSelection(event)">Ucraina</a>
                            </div>
                          </div>
                        </div>
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle  pl-0 pr-0" data-toggle="dropdown" id="profileDropdown">
                            <i class="typcn typcn-user-outline mr-0"></i>
                            <span class="nav-profile-name">{{current_user.nome + " " + current_user.cognome}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                            aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="/user">
                                <i class="typcn typcn-cog text-primary"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="/logout">
                                <i class="typcn typcn-power text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="typcn typcn-th-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <div class="d-flex sidebar-profile">
                            <div class="sidebar-profile-image">
                            </div>
                            <div class="sidebar-profile-name">
                              <p class="sidebar-name">{{current_user.nome + ' ' + current_user.cognome}}</p>
                              <p class="sidebar-designation">Welcome</p>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/listaSensori">
                            <i class="typcn typcn-map menu-icon"></i>
                            <span class="menu-title">Sensori</span>
                        </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/sensoriPreferiti">
                        <i class="typcn typcn-star menu-icon"></i>
                        <span class="menu-title">Sensori Preferiti</span>
                      </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user" aria-expanded="false" aria-controls="auth">
                            <i class="typcn typcn-user menu-icon"></i>
                            <span class="menu-title">User Pages</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://unisalerno-my.sharepoint.com/:b:/g/personal/g_frino1_studenti_unisa_it/EV6cQU5snw5EuO6bAyC_XCwB8cBQEQ9vEExz7GwRbAgyww?e=iivujL" target="_blank">
                            <i class="typcn typcn-document-text menu-icon"></i>
                            <span class="menu-title">Documentation</span>
                        </a>
                    </li>
                </ul>
            </nav>

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-sm-6">
                <h3 id = "nomeSensore" class="mb-0 font-weight-bold"></h3>
              </div>
              <div class="col-sm-6">
                <div class="d-flex align-items-center justify-content-md-end">
                  <div class="mb-3 mb-xl-0 pr-1">
                    <button type="button" class="btn btn-primary"  style= "background-color: #7dba56 !important; border-color: #7dba56;" onclick = "inviaSensorePreferito()" >Preferito</button>
                  </div>
                  <div class="mb-3 mb-xl-0 pr-1">
                    <button type="button" class="btn btn-primary elimina" onclick = "rimandaelimina()">Elimina</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row  mt-3">
              <div class="col-xl-8 d-flex grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-between">
                      <h4 class="card-title mb-3">Mappa Sensori</h4>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div id="map">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 d-flex grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-between">
                      <h4 class="card-title mb-3">Effettua le tue ricerche</h4>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="d-flex justify-content-between mb-4">
                            <!-- Qua ci devo fare il coso per le query -->
                            <div class="container">
                              <form id="updateForm">
                                  <div class="input-group">
                                      <label for="dataType">Seleziona il tipo di dato che vuoi cercare:</label>
                                      <select id="dataType" name="dataType">
                                          <option value="temperature">Temperatura</option>
                                          <option value="wind">Velocita del Vento</option>
                                          <option value="precipitation">Umidita</option>
                                          <option value="inquinamento">Inquinamento Pm 2.5</option>
                                          <!-- Aggiungi altre opzioni qui -->
                                      </select>
                                  </div>
                                  <div class="input-group">
                                      <label for="dataValue">Inserisci il valore:</label>
                                      <input type="number" id="dataValue" name="dataValue" required>
                                  </div>
                                  <div class="input-group">
                                      <button class="btn btn-primary" style= "background-color: #7dba56 !important; border-color: #7dba56; padding: 0.875rem 1.5rem;" type="button" onclick="updateData()">Cerca</button>
                                  </div>
                              </form>
                              <form id="updateForm">
                                <div class="input-group">
                                    <label for="queryType">Seleziona la modalità di ricerca:</label>
                                    <select id="queryType" name="queryType">
                                        <option value="giornosingolo">Giorno singolo</option>
                                        <option value="giornosucc">Giorni successivi</option>
                                        <option value="rangegiorni">Inserisci da: a:</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <label id="firstDateLabel" for="dateValue">Seleziona la data di partenza:</label>
                                    <input type="date" id="dateValue" name="dateValue" min=2015-01-01 max="2023-12-31" required>
                                </div>
                                <div class="input-group" id="secondDateGroup" style="display: none;">
                                    <label for="secondDateValue">Seleziona la data di fine:</label>
                                    <input type="date" id="secondDateValue" min=2015-01-01 max="2023-12-31" name="secondDateValue">
                                </div>
                                <div class="input-group">
                                    <button class="btn btn-primary" style= "background-color: #7dba56 !important; border-color: #7dba56; padding: 0.875rem 1.5rem;" type="button" onclick="updateGrafici()">Cerca</button>
                                </div>
                            </form>
                          <div>
                            <label>Visualizza stato meteo</label>
                            <button class="btn btn-primary" style= "background-color: #7dba56 !important; border-color: #7dba56; padding: 0.875rem 1.5rem; margin-bottom: 15px" id="openCalendar">Apri Calendario</button>
                          </div>
                          <div>
                            <label>Visualizza media eventi</label>
                            <button class="btn btn-primary" style= "background-color: #7dba56 !important; border-color: #7dba56; padding: 0.875rem 1.5rem;" type="button" onclick="visualizzaMedia()">Visualizza Media</button>
                          </div>
                          <div>
                            <label style="margin-top: 15px">Scarica Grafici</label>
                            <button class="btn btn-primary" id="downloadButton" style= "background-color: #7dba56 !important; border-color: #7dba56; padding: 0.875rem 1.5rem" type="button" onclick="scaricaGrafici()">Donwload</button>
                          </div>
                        </div>
                            <!-- Qua ci devo fare il coso per le query -->
                            </div>
                            <div class="d-flex justify-content-center mb-4">
                            </div>
                           </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          <div class="row  mt-3">
            <div class="col-xl grid-margin stretch-card" id = "card-dati-temperatura">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-wrap justify-content-between">
                    <h4 class="card-title mb-3">Storico Indici Inquinamento</h4>
                    <div id="datiInquinamento"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row  mt-3">
            <div class="col-xl grid-margin stretch-card" id="card-dati-precipitazioni">
              <div class="card">
                <div class="card-body">
                  <!--<div class="d-flex flex-wrap justify-content-between">-->
                  <div class="flex-wrap justify-content-between">
                    <h4 class="card-title mb-3">Storico Temperatura</h4>
                    <div id="datiTemperatura"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row  mt-3">
            <div class="col-xl grid-margin stretch-card" id="card-dati-precipitazioni">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-wrap justify-content-between">
                    <h4 class="card-title mb-3">Storico Anemometro</h4>
                    <div id="datiVento"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row  mt-3">
            <div class="col-xl grid-margin stretch-card" id="card-dati-precipitazioni">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-wrap justify-content-between">
                    <h4 class="card-title mb-3">Storico Precipitazioni</h4>
                    <div id="datiPrecipitazioni"></div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

          
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <footer class="footer" style= "background: border-box">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-center text-sm-left d-block d-sm-inline-block">MeteoAnalytics</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Sviluppato da: Gerardo Frino, Giulio Triggiani, Maria Lombardi</span>
      </div>
    </footer>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="/static/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/static/js/off-canvas.js"></script>
    <script src="/static/js/hoverable-collapse.js"></script>
    <script src="/static/js/template.js"></script>
    <script src="/static/js/settings.js"></script>
    <script src="/static/js/todolist.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="/static/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/static/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>


  <script>
    function toggleDateRange() {
      var queryType = document.getElementById("queryType").value;
      var secondDateGroup = document.getElementById("secondDateGroup");
      var firstDateLabel = document.getElementById("firstDateLabel");

      if (queryType === "rangegiorni") {
          secondDateGroup.style.display = "block";
          firstDateLabel.textContent = "Seleziona la data iniziale:";
      } else {
          secondDateGroup.style.display = "none";
          firstDateLabel.textContent = "Seleziona la data:";
      }
  }

  window.onload = function() {
      document.getElementById("queryType").addEventListener("change", toggleDateRange);
      toggleDateRange(); // Call the function to set the initial state
  }

  $(document).ready(function () {
    $('#openCalendar').on('click', function () {
        Swal.fire({
            title: 'Seleziona una data',
            html: '<div id="datepicker"></div>',
            customClass: {
                container: 'custom-swal-container',
                popup: 'custom-swal-popup',
                title: 'custom-swal-title',
            },
            didOpen: function () {
                $("#datepicker").datepicker({
                    dateFormat: 'yy-mm-dd',
                    minDate: new Date(2015, 0, 1), // Imposta la data minima (anno, mese, giorno) - Gennaio è 0
                    maxDate: new Date(2023, 11, 31),
                    onSelect: function (dateText) {
                        $.ajax({
                            url: '/visitaeventi',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({ date: dateText, idSensore: idsensoremio }),
                            success: function (response) {
                                console.log('Data received:', response);
                                if (response.success && response.data.measurementsPrecipitation.length > 0) {
                                    const weather = response.data.measurementsPrecipitation[0];
                                    let weatherIcon, weatherText;
                                    
                                    switch(weather.weather_condition) {
                                        case 'sole':
                                            weatherIcon = '☀️';
                                            weatherText = 'Soleggiato';
                                            break;
                                        case 'pioggia':
                                            weatherIcon = '🌧️';
                                            weatherText = 'Piovoso';
                                            break;
                                        case 'neve':
                                            weatherIcon = '❄️';
                                            weatherText = 'Nevoso';
                                            break;
                                        default:
                                            weatherIcon = '🌤️';
                                            weatherText = 'Condizioni miste';
                                    }

                                    Swal.fire({
                                        title: 'Condizioni Meteorologiche',
                                        html: `
                                            <div style="font-size: 48px;">${weatherIcon}</div>
                                            <h2>${weatherText}</h2>
                                            <p>Umidità relativa: ${weather.relative_humidity_2m}%</p>
                                            <p>Precipitazioni: ${weather.precipitation} mm</p>
                                        `,
                                        icon: 'info'
                                    });
                                } else {
                                    Swal.fire({
                                        title: 'Dati non disponibili',
                                        text: 'Non sono disponibili dati meteorologici per questa data.',
                                        icon: 'info'
                                    });
                                }
                            },
                            error: function (error) {
                                Swal.fire({
                                    title: 'Errore',
                                    text: 'Si è verificato un errore nel recupero dei dati.',
                                    icon: 'error'
                                });
                            }
                        });
                    },
                    beforeShow: function(input, inst) {
                        inst.dpDiv.addClass('custom-datepicker');
                    }
                });
            },
            showCancelButton: true,
            showConfirmButton: false,
            cancelButtonText: 'Chiudi',
            cancelButtonColor: '#7dba56'
        });
    });
});




async function scaricaGrafici() {
  var zip = new JSZip();

  console.log("Inizio processo di download");
  console.log("Grafici disponibili:", Object.keys(charts));

  for (var chartId in charts) {
    if (charts.hasOwnProperty(chartId)) {
      console.log("Processando grafico:", chartId);
      var canvas = charts[chartId].canvas;
      console.log(`Dimensioni canvas per ${chartId}:`, canvas.width, "x", canvas.height);
      console.log("Oggetto Chart per", chartId, ":", charts[chartId]);

      try {
        const blob = await new Promise((resolve, reject) => {
          canvas.toBlob(blob => {
            if (blob) {
              console.log("Blob creato per", chartId, "dimensione:", blob.size);
              resolve(blob);
            } else {
              console.error("Errore nella creazione del blob per", chartId);
              reject("Errore blob: " + chartId);
            }
          });
        });

        zip.file(chartId + ".png", blob);
      } catch (error) {
        console.error("Errore durante la creazione del blob per", chartId, error);
      }
    }
  }

  try {
    console.log("Tutti i grafici processati, generazione ZIP");
    const content = await zip.generateAsync({type:"blob"});
    console.log("ZIP generato, dimensione:", content.size);
    saveAs(content, "tutti_i_grafici.zip");
  } catch (error) {
    console.error("Errore nella generazione del ZIP:", error);
  }
}

</script>


  <script>

    var SensorIcon = L.icon({
      iconUrl: '/static/images/Sensor_ico.png',
      iconSize: [38, 38],
      iconAnchor: [19, 18],
      popupAnchor: [0, 0],
    });
 
    //Mappa per la posizione del sensore
    var sensore = JSON.parse('{{ sensore | tojson }}');
    console.log(sensore)
    var lat = sensore[0].latitude;
    var lon = sensore[0].longitude;
    var idsensoremio = sensore[0].id;
    var charts = {};


    var map = L.map('map').setView([lat, lon], 15);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    L.marker([lat,lon],{icon: SensorIcon}).addTo(map);

    var inquinamento = {{ datiinquinamento|tojson|safe }};
    console.log(inquinamento)

    if (!inquinamento || !Array.isArray(inquinamento) || inquinamento.length === 0) {
      var parent = document.getElementById("datiInquinamento");
      
      // Rimuovi eventuali elementi figli già presenti in parent
      parent.innerHTML = '';
      
      // Crea il primo paragrafo con il testo principale
      var paragrafo1 = document.createElement('p');
      paragrafo1.textContent = 'Nessun Dato Disponibile';
      
      // Applica stili al primo paragrafo
      paragrafo1.style.display = 'flex';
      paragrafo1.style.justifyContent = 'center';
      paragrafo1.style.alignItems = 'center';
      paragrafo1.style.height = '100%'; // Altezza del paragrafo al 100% del parent
      paragrafo1.style.fontSize = '28px'; // Dimensione del testo
      paragrafo1.style.fontWeight = 'bold'; // Grassetto
      paragrafo1.style.padding = '10px'; // Spazio intorno al paragrafo
      
      // Aggiungi il primo paragrafo come figlio del parent
      parent.appendChild(paragrafo1);
      
      // Crea il secondo paragrafo come descrizione aggiuntiva
      var paragrafo2 = document.createElement('p');
      paragrafo2.textContent = 'I Dati dell inquinamento sono disponibili dal 01-12-2022';
      
      paragrafo2.style.textAlign = 'center'; 
      paragrafo2.style.color = '#69727b';
      
      // Aggiungi il secondo paragrafo come figlio del parent
      parent.appendChild(paragrafo2);
    } else {
      var arrayInquinamento = inquinamento;
      creaGraficoInquinamento()
    }


      function creaGraficoInquinamento() 
      {
        // Seleziona il contenitore e crea un nuovo canvas per il grafico
        var parent = document.getElementById("datiInquinamento");
        var canvas = document.createElement("canvas");
        canvas.id = "lineChartinquinamento";
        canvas.width = 1000;
        canvas.height = 595; // NON modificare, stessa altezza del testo così non esplode quando clicchiamo.
        parent.appendChild(canvas);
    
        // Colori per le linee del grafico
        var colors = [
          "rgb(255, 25, 25)", "rgb(255, 128, 25)", "rgb(255, 255, 25)", "rgb(128, 255, 25)",
          "rgb(25, 255, 128)", "rgb(25, 25, 255)", "rgb(128, 25, 255)", "rgb(255, 25, 128)",
          "rgb(128, 25, 128)", "rgb(12, 25, 12)"
        ];
    
        // Estrai le date dai timestamp
        var labelsData = arrayInquinamento[0].time.map(timestamp => timestamp.split("T")[0]);
    
        // Serve per le keys degli oggetti
        var datasets = [];
        var keys = Object.keys(arrayInquinamento[0]).filter(key => key !== "id" && key !== "idSensore" && key !== "time" && key !== "latitude" && key !== "longitude");
        console.log(keys)
    
        for (var c = 0; c < keys.length; c++) 
        {
          var data = [];
          for (var i = 0; i < arrayInquinamento[0].time.length; i++) {
              data.push(arrayInquinamento[0][keys[c]][i]);
          }
          
          var color = colors[c % colors.length];
          
          var dataset = {
              label: keys[c],
              data: data,
              fill: false,
              borderColor: color,
              backgroundColor: color,
              tension: 0.1
          };
          
          datasets.push(dataset);
      }
      


    
        // Crea finalmente il grafico
        charts["lineChartinquinamento"] = new Chart(document.getElementById("lineChartinquinamento"), {
          type: 'line',
          data: {
            labels: labelsData,
            datasets: datasets
          },
          options: {
            elements: {
              point:{
                radius: 0
              }
            }, 
            title: {
              display: true,
              text: "Storico Inquinamento"
            }
          }
        })
      }

      //Generazione grafico Precipitazioni
    var precipitazioni = {{ datiPrecipitazioni|tojson|safe }};
    var arrayPrecipitazioni = precipitazioni
    creaGraficoPrecipitazioni()

      function creaGraficoPrecipitazioni() 
      {
        // Seleziona il contenitore e crea un nuovo canvas per il grafico
        var parent = document.getElementById("datiPrecipitazioni");
        var canvas = document.createElement("canvas");
        canvas.id = "precipitation";
        canvas.width = 1000;
        canvas.height = 595; // NON modificare, stessa altezza del testo così non esplode quando clicchiamo.
        parent.appendChild(canvas);
    
        // Colori per le linee del grafico
        var colors = [
            "rgb(0, 255, 102)", "rgb(0, 0, 255)", "rgb(102, 0, 255)", "rgb(255, 0, 102)",
            "rgb(255, 0, 0)", "rgb(255, 102, 0)", "rgb(255, 255, 0)", "rgb(102, 255, 0)",
            "rgb(102, 0, 102)", "rgb(0, 25, 0)"
        ];
    
        // Estrai le date dai timestamp
        var labelsData = arrayPrecipitazioni.map(data => data.time.split("T")[0]);
    
        // Serve per le keys degli oggetti
        var datasets = [];
        var keys = ["precipitation", "rain", "relative_humidity_2m", "snowfall"];
        
        for (var c = 0; c < keys.length; c++) {
            var data = arrayPrecipitazioni.map(data => data[keys[c]]);
            
            var color = colors[c % colors.length];
            
          
          var dataset = {
              label: keys[c],
              data: data,
              fill: false,
              borderColor: color,
              backgroundColor: color,
              tension: 0.1
          };
          
          datasets.push(dataset);
      }
      


    
        // Crea finalmente il grafico
        charts["precipitation"] = new Chart(document.getElementById("precipitation"), {
          type: 'line',
          data: {
            labels: labelsData,
            datasets: datasets
          },
          options: {
            elements: {
              point:{
                radius: 0
              }
            }, 
            title: {
              display: true,
              text: "Storico Precipitazioni"
            }
          }
        })
      }

      
      //Generazione grafico Vento
    var vento = {{ datiVento|tojson|safe }};
    var arrayVento = vento
    creaGraficoVento()

      function creaGraficoVento() 
      {
        // Seleziona il contenitore e crea un nuovo canvas per il grafico
        var parent = document.getElementById("datiVento");
        var canvas = document.createElement("canvas");
        canvas.id = "wind";
        canvas.width = 1000;
        canvas.height = 595; // NON modificare, stessa altezza del testo così non esplode quando clicchiamo.
        parent.appendChild(canvas);
    
        // Colori per le linee del grafico
        var colors = [
            "rgb(75, 192, 192)", "rgb(54, 162, 235)", "rgb(255, 99, 132)", "rgb(255, 159, 64)",
            "rgb(153, 102, 255)", "rgb(201, 203, 207)", "rgb(255, 205, 86)", "rgb(66, 135, 245)",
            "rgb(244, 66, 146)", "rgb(148, 159, 177)"
        ];
    
        // Estrai le date dai timestamp
        var labelsData = arrayVento.map(data => data.time.split("T")[0]);
    
        // Serve per le keys degli oggetti
        var datasets = [];
        var keys = ["wind_speed_10m", "wind_direction_10m", "wind_gusts_10m"];
        
        for (var c = 0; c < keys.length; c++) {
            var data = arrayVento.map(data => data[keys[c]]);
            
            var color = colors[c % colors.length];
            
          
          var dataset = {
              label: keys[c],
              data: data,
              fill: false,
              borderColor: color,
              backgroundColor: color,
              tension: 0.1
          };
          
          datasets.push(dataset);
      }
      


    
        // Crea finalmente il grafico
        charts["wind"] = new Chart(document.getElementById("wind"), {
          type: 'line',
          data: {
            labels: labelsData,
            datasets: datasets
          },
          options: {
            elements: {
              point:{
                radius: 0
              }
            }, 
            title: {
              display: true,
              text: "Storico Anemometro"
            }
          }
        })
      }

      //Generazione grafico Temperatura
    var temperatura = {{ datiTemperatura|tojson|safe }};
    var arrayTemperatura = temperatura
    creaGraficoTemperatura()

      function creaGraficoTemperatura() 
      {
        // Seleziona il contenitore e crea un nuovo canvas per il grafico
        var parent = document.getElementById("datiTemperatura");
        var canvas = document.createElement("canvas");
        canvas.id = "temperature";
        canvas.width = 1000;
        canvas.height = 595; // NON modificare, stessa altezza del testo così non esplode quando clicchiamo.
        parent.appendChild(canvas);
    
        // Colori per le linee del grafico
        var colors = [
          "rgb(255, 77, 77)", "rgb(255, 166, 77)", "rgb(255, 255, 77)", "rgb(166, 255, 77)",
          "rgb(77, 255, 166)", "rgb(166, 77, 166)", "rgb(38, 77, 38)", "rgb(255, 77, 166)",
          "rgb(166, 77, 166)", "rgb(38, 77, 38)"
        ];
    
        // Estrai le date dai timestamp
        var labelsData = arrayTemperatura.map(data => data.time.split("T")[0]);
    
        // Serve per le keys degli oggetti
        var datasets = [];
        var keys = ["temperature_2m", "soil_temperature_0_to_7cm",  "surface_pressure", "direct_radiation"];

        for (var c = 0; c < keys.length; c++) {
            var data = arrayTemperatura.map(data => data[keys[c]]);
            
            var color = colors[c % colors.length];
            
          
          var dataset = {
              label: keys[c],
              data: data,
              fill: false,
              borderColor: color,
              backgroundColor: color,
              tension: 0.1
          };
          
          datasets.push(dataset);
      }
      

    
        // Crea finalmente il grafico
        charts["temperature"] = new Chart(document.getElementById("temperature"), {
          type: 'line',
          data: {
            labels: labelsData,
            datasets: datasets
          },
          options: {
            elements: {
              point:{
                radius: 0
              }
            }, 
            title: {
              display: true,
              text: "Storico Temperatura"
            }
          }
        })
      }

      var sensore = {id: "{{ sensore.id }}", name: "{{ sensore.name }}"};


      function inviaSensorePreferito() {
        Swal.fire({
            title: "Vuoi impostare questo sensore come preferito?",
            showDenyButton: true,
            confirmButtonColor:'#7dba56',
            confirmButtonText: "SI",
            denyButtonText: `NO`
        }).then((result) => {
            if (result.isConfirmed) {
                // Se l'utente conferma, invia la richiesta AJAX
                var data = { id: idsensoremio };
    
                $.ajax({
                    url: '/settapreferito',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function(response) {
                        // Gestisci la risposta di successo
                        Swal.fire("Saved!", "", "success");
                        console.log('Sensore preferito impostato con successo:', response);
                    },
                    error: function(error) {
                        // Gestisci eventuali errori
                        Swal.fire("Error", "Errore nell'impostare il sensore preferito", "error");
                        console.error('Errore nell\'impostare il sensore preferito:', error);
                    }
                });
            } else if (result.isDenied) {
                Swal.fire("Changes are not saved", "", "info");
            }
        });
    }
    

      function updateData() {
        const dataType = $('#dataType').val();
        const dataValue = $('#dataValue').val();
    
        if (!dataValue) {
            alert('Per favore, inserisci un valore.');
            return;
        }
    
        const data = {
            type: dataType,
            value: dataValue,
            id : idsensoremio
        };
    
        $.ajax({
          type: 'POST',
          url: '/contagiorni',
          contentType: 'application/json',
          data: JSON.stringify(data),
          success: function(response) {
              console.log('Success:', response, 'data: ' , data);

              // Costruisci il contenuto della lista scrollabile
              let content = `<div style="max-height: 200px; overflow-y: auto;">`;
              response.data.forEach(entry => {
                  if (entry.valore_rilevazione) {
                      content += `<p>Time: ${entry.time}, Valore: ${entry.valore_rilevazione}</p>`;
                  }
              });
              content += `</div>`;

              // Mostra il popup con SweetAlert
              Swal.fire({
                  title: 'Dati recuperati con successo!',
                  html: `
                            <p style="font-size: 1.2em; padding-bottom: 1em;"><b>Numero di sforamenti:</b> ${response.data.length - 1}</p>
                            ${content}
                        `,
                  icon: 'success',
                  confirmButtonText:'Chiudi', 
                  confirmButtonColor:'#7dba56'
              });
          },
          error: function(xhr, status, error) {
              console.error('Errore:', error);
              Swal.fire({
                  title: 'Errore',
                  text: 'Errore durante l\'aggiornamento dei dati.',
                  icon: 'error'
              });
          }
      });
  }

  function updateGrafici() {
    const queryType = $('#queryType').val();
    const dateValue = $('#dateValue').val();
    let secondDateValue = '';

    if (!dateValue) {
        alert('Per favore, inserisci una data valida.');
        return;
    }

    if (queryType === 'rangegiorni') {
        secondDateValue = $('#secondDateValue').val();
        if (!secondDateValue) {
            alert('Per favore, inserisci una seconda data valida per il range di giorni.');
            return;
        }
    }

    const data = {
        type: queryType,
        date: dateValue,
        secondDate: secondDateValue,
        id: idsensoremio
    };
    console.log(data);

    let url = "/dettagliSensore?idSensore=" + idsensoremio + "&type=" + queryType;

    if (queryType === 'giornosingolo' || queryType === 'giornosucc') {
        url += "&startDate=" + dateValue;
    } else if (queryType === 'rangegiorni') {
        url += "&startDate=" + dateValue + "&endDate=" + secondDateValue;
    }

    window.location.href = url;
}
    

      function rimandaelimina()
      {
        Swal.fire({
          title: "Sei Sicuro?",
          text: "Non sarà possibile ripristinarlo!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Si, eliminalo"
        }).then((result) => {
          if (result.isConfirmed) {
            // Effettua la chiamata AJAX alla route /eliminasensore
            $.ajax({
              url: '/eliminaSensore',
              type: 'POST',
              contentType: 'application/json',  // Imposta il Content-Type a application/json
              data: JSON.stringify({ idSensore: idsensoremio }),  // Converte l'oggetto in formato JSON
              success: function (data) {
                // Gestisci la risposta del server se necessario
                console.log(data);
        
                // Mostri un messaggio di successo
                Swal.fire({
                  title: "Eliminato!",
                  text: "Il tuo sensore è stato eliminato",
                  icon: "success"
                }).then((result) => {
                  if (result.isConfirmed) {
                    window.location.href = "listaSensori"
                  }
                });
              },
            });
          }
        });
      } 

      var sensore = JSON.parse('{{ sensore | tojson }}');

      function visualizzaMedia() {
        const risultati = {};
        
        // Funzione di supporto per calcolare statistiche
        function calcolaStatistiche(array, chiave) {
          const valori = array.map(item => item[chiave]).filter(val => val !== undefined);
          const somma = valori.reduce((acc, val) => acc + val, 0);
          const media = somma / valori.length;
          return {
            somma: somma,
            media: media.toFixed(2),
            minimo: Math.min(...valori),
            massimo: Math.max(...valori)
          };
        }
      
        // Analisi precipitazioni
        risultati.precipitazioni = calcolaStatistiche(sensore[0].measurementsPrecipitation, 'precipitation');
        risultati.umiditaRelativa = calcolaStatistiche(sensore[0].measurementsPrecipitation, 'relative_humidity_2m');
      
        // Analisi temperatura
        risultati.temperatura2m = calcolaStatistiche(sensore[0].measurementsTemperature, 'temperature_2m');
        risultati.pressioneSuperficie = calcolaStatistiche(sensore[0].measurementsTemperature, 'surface_pressure');
      
        // Analisi vento
        risultati.velocitaVento = calcolaStatistiche(sensore[0].measurementsWind, 'wind_speed_10m');
        risultati.rafficheDiVento = calcolaStatistiche(sensore[0].measurementsWind, 'wind_gusts_10m');
      
        console.log('Risultati:', risultati);
        generaAllert(risultati);
      }
      

      function generaAllert(data) {
        Swal.fire({
          title: 'Medie e Valori Estremi',
          html: `
            <div style="text-align: left;">
              <ul>
                <strong><li>Precipitazioni:</strong>
                  <ul>
                    <li>Somma: ${data.precipitazioni.somma} mm</li>
                    <li>Media: ${data.precipitazioni.media} mm</li>
                    <li>Minimo: ${data.precipitazioni.minimo} mm</li>
                    <li>Massimo: ${data.precipitazioni.massimo} mm</li>
                  </ul>
                </li>
                <strong><li>Pressione Atmosferica al Suolo:</strong>
                  <ul>
                    <li>Media: ${data.pressioneSuperficie.media} hPa</li>
                    <li>Minimo: ${data.pressioneSuperficie.minimo} hPa</li>
                    <li>Massimo: ${data.pressioneSuperficie.massimo} hPa</li>
                  </ul>
                </li>
                <strong><li>Raffiche di Vento:</strong>
                  <ul>
                    <li>Media: ${data.rafficheDiVento.media} km/h</li>
                    <li>Minimo: ${data.rafficheDiVento.minimo} km/h</li>
                    <li>Massimo: ${data.rafficheDiVento.massimo} km/h</li>
                  </ul>
                </li>
                <strong><li>Temperatura:</strong>
                  <ul>
                    <li>Media: ${data.temperatura2m.media} °C</li>
                    <li>Minimo: ${data.temperatura2m.minimo} °C</li>
                    <li>Massimo: ${data.temperatura2m.massimo} °C</li>
                  </ul>
                </li>
                <strong><li>Umidità Relativa:</strong>
                  <ul>
                    <li>Media: ${data.umiditaRelativa.media}%</li>
                    <li>Minimo: ${data.umiditaRelativa.minimo}%</li>
                    <li>Massimo: ${data.umiditaRelativa.massimo}%</li>
                  </ul>
                </li>
                <strong><li>Velocità del Vento:</strong>
                  <ul>
                    <li>Media: ${data.velocitaVento.media} km/h</li>
                    <li>Minimo: ${data.velocitaVento.minimo} km/h</li>
                    <li>Massimo: ${data.velocitaVento.massimo} km/h</li>
                  </ul>
                </li>
              </ul>
            </div>
          `,
          confirmButtonText: 'Chiudi',
          confirmButtonColor:'#7dba56'
        });
      }
  </script>

  </body>
</html>